<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
 <rewrite>
  <rules>
    <rule name="OrgPage" stopProcessing="true">
    <match url="^(.*)$" />
    <conditions logicalGrouping="MatchAll">
    <add input="{HTTP_HOST}" pattern="^(.*)$" />
    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="index.php?s={R:1}" />
    </rule>
    <rule name="BlockDirectDownload" enabled="true" stopProcessing="true">
	<match url="(?:asp|aspx|jsp|asa|dll|cgi|fcgi|htm)$" ignoreCase="true" />
	<conditions>
	<add input="{HTTP_REFERER}" pattern="^http://(.*\.)?(abc\.net)/.*$" negate="true" />
	</conditions>
	<action type="CustomResponse" statusCode="404" />
    </rule>
  </rules>
 </rewrite>
    </system.webServer>
</configuration>